<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>1shot</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon"  href="/public/favicon.ico">
    <meta name="theme-color" content="#f60">
    <link rel="manifest" href="/manifest.json">
    <!--link<link href="<%= htmlWebpackPlugin.files.css %>" rel="stylesheet">-->
  </head>
  <body>
    <!--script<script src="<%=htmlWebpackPlugin.files.chunks.vendor.entry %>"></script><script src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>-->
  </body>
</html>
