
.sub-header,
legend {
  color : white
}

.text-input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: white;
}
textarea:focus,
.text-input:focus {
  outline: none;
}

input,
textarea {
  color : white
}
